@import url("variabales.scss");
@import url("theme/light.scss");
@import url("theme/dark.scss");

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg-color);

  // font-size: var(--font-size-m);
  // line-height: var(--line-height-m);
  // font-family: var(--font-family-primary);

  font: var(--font-m);
  font-weight: 400;
}

section {
  padding: var(--section-indets) 15px;
}


// /* Large desktops and laptops */
// media (min-width: 1200px) {}

// /* Portrait tablets and medium desktops */
// media (min-width: 992px) and (max-width: 1199px) {}

// /* Portrait tablets and small desktops */
// media (min-width: 768px) and (max-width: 991px) {}

// /* Landscape phones and portrait tablets */
// media (max-width: 767px) {}

// /* Landscape phones and smaller */
// media (max-width: 480px) {}
//  .????
// тогда дописую: media (max-width: 650) {}