:root {
  // Sizes
  --header-height: 100px;
  --section-indets: 90px;
  
  --font-size-m: 18px;
  --line-height-m: 26px;
  --font-wieght-m: 400;


  // @font-face {
  //   font-family: 'Poppins-400';
  //   src: url("../../shared/fonts/Poppins-Medium.ttf") format('ttf');
  //   font-weight: 700;
  // }
}