.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0 50px;
  height: var(--footer-height);
}

.footer>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  width: 100%;
  background: var(--primary-color);
}

.text {
  max-width: 560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}