.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
}

.photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid var(--accented-color);
}