.primary {
  color: var(--primary-color);
}

.accented {
  color: var(--accented-color);
}

.gradient {
  background-image: var(--text-gradient);
  color: transparent;
  background-clip: text
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}


.fontXs {
  font-size: var(--font-size-xs);
}

.fontS {
  font-size: var(--font-size-s);
}

.fontM {
  font-size: var(--font-size-m);
}

.fontL {
  font-size: var(--font-size-l);
}

.fontXl {
  font-size: var(--font-size-xl);
}

.font2xl {
  font-size: var(--font-size-2xl);
}

.font3xl {
  font-size: var(--font-size-3xl);
}

.font4xl {
  font-size: var(--font-size-4xl);
}

.h1 {
  font: var(--font-4xl);
}

.h2 {
  font: var(--font-3xl);
}

.h3 {
  font: var(--font-2xl);
}

.h4 {
  font: var(--font-xl);
}

.center {
  text-align: center;
}