.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 30px;
}

.header>div {
  display: flex;
  align-items: center;
}

.burgerWrapper {
  display: none;
  padding: 15px 5px;
  cursor: pointer;
  transition: transform linear var(--transition-delay);

  &:hover {
    .burger {
      background: transparent;

      &:before {
        transform: rotate(45deg);
        top: 0;
        transition: transform linear var(--transition-delay);
      }

      &:after {
        transform: rotate(-45deg);
        top: 0;
        transition: transform linear var(--transition-delay);
      }
    }
  }
}

.burger {
  display: block;
  position: relative;
  content: "";
  width: 30px;
  height: 4px;
  background: var(--primary-color);

  &:before {
    position: absolute;
    top: -10px;
    content: "";
    width: 30px;
    height: 4px;
    background: var(--primary-color);
    transition: all linear var(--transition-delay);
  }

  &:after {
    position: absolute;
    top: 10px;
    content: "";
    width: 30px;
    height: 4px;
    background: var(--primary-color);
    transition: all linear var(--transition-delay);
  }
}





@media (max-width: 992px) {
  .header {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }

  .burgerWrapper {
    display: block;
  }
}